.titoloHome{
    
}
.titolifilm{
    text-decoration: none;
    color: black;
}
button{
    margin-left: 10px;
}
.titoloHome{
    display: inline;
}
.indici{
    font-size: x-large;
}
.linee{
    border: 2px solid black;
    text-align: center;
}
.input > input{
    display: block;
    margin: 20px;
}